<div class="container">
  <h1 class="title">投稿者一覧</h1>
  <hr>
<% @users.each do |user| %>
  <div class="subtitle"><a href="/users/<%= user.id %>"><%= user.username %></div></a>
  <hr>
<% end %>
</div>
<%= link_to "ホームへ戻る", posts_path %>
